<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/var.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <title>Pidor List 2</title>
</head>
<body>
    <h1 class="title">Список п*д*расов 2 🏳️‍🌈</h1>
    <span id="leadeboard">
        {% for n, i in enumerate(pidors, 1) %}
            <h2 class="name"><a class="link" href="/pidor/{{i}}">{{n}}) {{i}} </a><span class="points">{{pidors[i]}}</span></h2>
        {% endfor %}
	</span>
</body>
</html>